.poem-container h1{
    font-family:"Mukta", sans-serif;
    color:#000;
    font-weight:bold;
    font-size:3em;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    text-shadow:7px 5px 5px rgb(219, 201, 201);
}
.poem-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.poem p,.poem h2{
    font-family: 'Aladin', cursive;
    margin-top: 20px;
    font-size:1.2em;
}
.poem h2{
    text-decoration: underline;
    font-size:1.6em;
}
.poem{
    padding: 30px;
    width: 92%;
    padding: 50px;
    border-radius: 30px;
}
.poem1, .poem3, .poem6{
    min-height:80vh;
    padding: 200px 0;
    background: url("/images/poemsimg3.png") no-repeat center  center/cover;
}
.poem2,.poem4{
    min-height:80vh;
    margin-top:50px;
    padding-top: 50px;
    margin-bottom: 50px;
    background: url("/images/poemsimg2.png") no-repeat center center/cover;
}
.poem5{
    background: url("/images/poemsimg4.jpg") no-repeat center center/cover;
    padding: 100px 0;
    color: #0c0c0e;
}
@media screen and (min-width:820px){
    .poem p,.poem h2{
        font-size:1.5em;
    }
    .poem{
        width: 65%;
    }
}