.poem-container h1{
    font-family:"Mukta", sans-serif;
    color:#000;
    font-weight:bold;
    font-size:3em;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    text-shadow:7px 5px 5px rgb(219, 201, 201);
}
.poem-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.poem p,.poem h2{
    font-family: 'Aladin', cursive;
    margin-top: 20px;
    font-size:1.2em;
}
.poem{
    padding: 30px;
    width: 92%;
    padding: 50px;
    border-radius: 20px;
}
.poem1{
    min-height:80vh;
    background: url("/poemsimg3.png") no-repeat center  center/cover;
}
.poem2{
    min-height:80vh;
    margin-top:50px;
    padding-top: 50px;
    margin-bottom: 50px;
    background: url("/poemsimg2.png") no-repeat center center/cover;
}

@media screen and (min-width:820px){
    .poem p,.poem h2{
        font-size:1.5em;
    }
    .poem{
        width: 65%;
    }
}