html, body {
    position: relative;
    height: 100%;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#000;
    margin: 0;
    padding: 0;
    background: rgb(112, 130, 211);
  }
  .navbar{
    position: fixed;
    width: 60px;
    background: rgba(0,0,0,0.9);
    height: 100vh;
    color: rgba(175, 175, 175, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    overflow: hidden;
    z-index: 99;
    transition: all 0.5s;
    left: 0px;
  }
  .navbar:hover{
    left:0px;
  }
  .navbar a{
    color:rgba(175, 175, 175, 0.7);
  }
  .navbar a:hover{
    color: #fff;
  }
  .navbar div div{
    /* border: 0.5px solid white; */
    padding: 10px 22px;
    cursor: pointer;
    transition: all 0.5s;
    padding-bottom: 16px;
  }
  .navbar div div:hover{
    color: rgb(255, 255, 255);
    background: rgb(26, 92, 192);
  }
  .navbar div div:hover a{
    color: rgb(255, 255, 255);
  }
  .index{
    position: fixed;
    background: #36383d;
    flex-direction: column;
    -webkit-box-shadow: 0 4px 32px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 4px 32px 0 rgba(0,0,0,0.5);
    box-shadow: 0 4px 32px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    z-index: 100;
    color: rgba(255,255,255,0.9);
    padding: 15px 0px;
    left:61px;
    display:none;
  }
    .index h3{
      padding: 0px 15px;
    }
    .index a{
      color: rgba(255,255,255,0.9);
      text-decoration: none;
      padding: 9px 25px;
    }
    .index a:hover{
      background:black;
    }
    .list-chapter{
      display: flex;
      flex-direction: column;
    }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    height: 85vh;
    margin-top: 25px;
    font-size:  14px;
    /* background: rgb(187, 26, 26); */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: grab;
  }
  /* custmm bullets style */
  .swiper-pagination{
    position: static;
    margin: 0 auto;
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color:#000;
    opacity: 1;
    margin: 0 4px;
    background: rgba(0,0,0,0.2);
    margin-bottom: 60px;
  }
  .swiper-pagination-bullet-active {
    color:#fff;
    background: #007aff;
  }
  .paper{
  position: relative;
	width: 250px;
  padding: 50px;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  }
  .cover{
    background: url("/book-cover.jpg") no-repeat center center/cover;
  }
  .paper:before, .paper:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.paper:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}
.contents a{
  text-align: justify;
  text-decoration: none;
}
.paper p{
  text-align: justify;
  font-family: 'Literata', serif;
}
.cover, .name, .contents{
  justify-content: space-evenly;
}


@media screen and (min-width:768px){
  .paper{
    width: 320px;
    height: 70vh;
  }
  .swiper-slide{
    font-size: 19px;
  }
  .swiper-pagination{
    left:40%;
    margin-top: 15px;
  }
}
@media screen and (max-width:375px){
  .paper{
    width: 200px;
    height :60vh;
  }
  .swiper-slide{
    font-size:13px;
  }
}
@media screen and (max-width:425px){
  .paper{
    height:60vh;
  }
}
@media screen and (max-width:768px){
  .paper{
    width:270px;
  }
  .swiper-slide{
    font-size:15px;
  }
}
@media screen and (max-width:550px){
  .navbar{
    width:100%;
    height: 50px;
    flex-direction: row;
    bottom: 0;
    font-size:1.7em;
    justify-content: center;
  }
  .navbar div{
    display: flex;
    flex-direction: row;
  }
  .navbar div div {
    height: 32px;
  }
  .index{
    left: 0;
    bottom:52px;
    display: none;
  }

}